/*normalize*/
ul, ol, li {
  list-style: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body {
  font-family: "Apple SD Gothic Neo","맑은 고딕","Malgun Gothic",sans-serif;
  font-size: 14px;
  line-height: 1;
  color: rgba(0,0,0,0.87);
  -webkit-text-size-adjust: none;
}
b{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: bold;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  /*text-decoration: underline;*/
}
/*login Page*/
.loginPage{
  font-size: 15px;
  line-height: 26px;
  color: rgba(0,0,0,0.87);
}
.loginPage section{
  width: 336px;
  margin: 100px auto 0 auto;
}
.loginPage .title{
  display: block !important;
  margin-bottom: 16px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  width: 100%;
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
}
.loginPage .title .logo{
  width: 112px;
  height: 44px;
  background: url(//image.goodchoice.kr/images/web_v3/ic_bi_yeogi_250px.png) 50% 50% no-repeat;
  background-size: 112px 23px;
  text-indent: -9999px;
  display: inline-block;
}
.loginPage .title .logo a {
  display: block;
  text-indent: -9999px;
}
.loginPage .btn_start{
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  display: block;
  position: relative;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  border: none;
}

/*<<<<<<< HEAD*/
/*homePage*/
.main_spot {
  height: 580px;
  background: #fff url(../image/web_v3/mainspot_200703.png) 50% 100% no-repeat;
  background-size: 924px auto;
}
.main_link {
  overflow: hidden;
  padding: 32px 0 29px 41px;
  background: rgb(253,253,253);
}
.main_link li {
  float: left;
  width: 109px;
}
.main_link ul {
  overflow: hidden;
  width: 1024px;
  margin: 0 auto;
}
.main_link li a {
  display: block;
  height: 107px;
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
}
.main_link li a span {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.main_link li a p {
  height: auto;
  padding-top: 14px;
}
.main_link li a {
  display: block;
  height: 107px;
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
}
.ico_01 {
  background: url(../image/web_v3/ico_category_180801.png) -144px -72px no-repeat;
  background-size: 216px auto;
}
.ico_02 {
  background: url(../image/web_v3/ico_category_180801.png) -144px 0 no-repeat;
  background-size: 216px auto;
}

.ico_03 {
  background: url(../image/web_v3/ico_category_180801.png) -72px -144px no-repeat;
  background-size: 216px auto;
}

.ico_04 {
  background: url(../image/web_v3/ico_category_180801.png) -144px -144px no-repeat;
  background-size: 216px auto;
}

.ico_05 {
  background: url(../image/web_v3/ico_category_180801.png) 0 -72px no-repeat;
  background-size: 216px auto;
}

.ico_06 {
  background: url(../image/web_v3/ico_category_180801.png) 0 0 no-repeat;
  background-size: 216px auto;
}

.ico_07 {
  background: url(../image/web_v3/ico_category_180801.png) -72px -72px no-repeat;
  background-size: 216px auto;
}

.ico_08 {
  background: url(../image/web_v3/ico_category_180801.png) 0 -144px no-repeat;
  background-size: 216px auto;
}

.ico_09 {
  background: url(../image/web_v3/ico_category_180801.png) -72px 0 no-repeat;
  background-size: 216px auto;
}

/*=======*/
/*header*/
/*width 1024 미만일 때 CSS, 배치 달라짐*/
.header section h1 a {
  display: block;
  text-indent: -9999px;
}
.header {
  display: block;
  position: fixed;  /*.roll - relative*/
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  transition: 0.4s;
  background: #f7323f;
  z-index: 210;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.header section {
  display: block;
  position: relative;
  width: 1024px;  /*width: 100%*/
  height: 64px;
  background: none;
  margin: 0 auto;
}
.header section h1 {  /*1024 미만일 때 로고 가운데정렬*/
  display: block;
  position: absolute;
  top: 26px;
  left: 31px;
  width: 96px;
  height: 20px;
  margin: 0;
  background: url(//image.goodchoice.kr/images/web_v3/h1_logo_pc_w.png) 0 0 no-repeat;
  background-size: 96px auto;
}
h1 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a:-webkit-any(article,aside,nav,section) h1 {
  font-size: 1.5em;
}
button {
  display: inline-block;
  padding: 0; /*padding: 1px 6px;*/
  cursor: pointer;  /*cursor: default;*/
  appearance: none; /*appearance: button;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  font-family: "Apple SD Gothic Neo","맑은 고딕","맑은고딕","Malgun Gothic",sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
ul, li {
  list-style: none; /*list-style: none;*/
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  text-decoration: none;
}
ul {
  list-style-type: disc;
}
li {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: -webkit-match-parent;
}
button span {
  position: relative;
}
ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
/*
.pc .srch_bar {
  position: absolute;
  top: 24px;
  left: 50%;
  right: auto;
  width: 725px;
  height: 21px;
  margin-left: -277px;
  background: none;
}
*/
.srch_bar {
  display: absolute;
  position: fixed;
  top: 24px;
  left: 50%;
  right: auto;
  z-index: 300;
  width: 725px;
  height: 44px;
  background: #f9f9f9;
  touch-action: none;
  margin-left: -277px;
}
/*
.pc .srch_bar .wrap_inp {
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  background: none;
}
*/
.srch_bar .wrap_inp {
  overflow: hidden;
  position: relative;
  margin: 6px 56px 0 16px;
  padding: 0 15px 0 35px;
  height: 32px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  background: #fff;
  margin: 0;
  padding: 0;
}
.srch_bar .wrap_inp .btn_srch {
  display: inline-block;  /* - display: none;*/
  position: absolute;
  top: 3px;
  left: 8px;
  width: 24px;
  height: 24px;
  border: none;
  background: url(//image.goodchoice.kr/images/web_v3/ico_srch_3.png) 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
}
.header section .btn_srch {
  position: absolute;
  border: none;
  text-indent: -9999px;
  top: 25px;
  right: 396px;
  z-index: 10;
  width: 30px;
  height: 30px;
  background: url(//image.goodchoice.kr/images/web_v3/ico_srch_2.png) 50% 50% no-repeat;
  background-size: 24px auto;
}
.srch_bar .wrap_inp button {
  display: none;
}
.srch_bar .btn_cancel {
  top: -8px;
  right: -41px;
  width: 35px;
  height: 35px;
  background: url(//image.goodchoice.kr/images/web_v3/ico_close_2.png) 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
}
.srch_bar .btn_cancel {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 44px;
  color: rgba(0,0,0,0.87);
}

/*footer*/
/*<<<<<<< HEAD*/
.footer {
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
  margin-top: 120px;
  padding: 63px 31px 40px 31px !important;/*padding: 23px 16px 16px 16px !important;*/
  border-top: 1px solid rgba(0,0,0,0.08);
  background: rgb(245,245,245);
  font-size: 13px;
  line-height: 20px;
  color: rgba(0,0,0,0.38);
  box-sizing: border-box;
}
address {
  display: block;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=======*/
/*>>>>>>> efa2f147055ab129e77245f7187c18ae6a9f2f47*/
/*>>>>>>> a059b2bc7c11fafd371d366a51c2f4f94dfeb1da*/

