/*normalize*/
ul, ol, li {
  list-style: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body {
  font-family: "Apple SD Gothic Neo","맑은 고딕","Malgun Gothic",sans-serif;
  font-size: 14px;
  line-height: 1;
  color: rgba(0,0,0,0.87);
  -webkit-text-size-adjust: none;
}
/*login Page*/
.loginPage{
  font-size: 15px;
  line-height: 26px;
  color: rgba(0,0,0,0.87);
}
.loginPage section{
  width: 336px;
  margin: 100px auto 0 auto;
}
.loginPage .title{
  display: block !important;
  margin-bottom: 16px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  width: 100%;
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
}
.loginPage .title .logo{
  width: 112px;
  height: 44px;
  background: url(//image.goodchoice.kr/images/web_v3/ic_bi_yeogi_250px.png) 50% 50% no-repeat;
  background-size: 112px 23px;
  text-indent: -9999px;
  display: inline-block;
}
.loginPage .title .logo a {
  display: block;
  text-indent: -9999px;
}
.loginPage .btn_start{
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  display: block;
  position: relative;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  border: none;
}


/*homePage*/
.main_spot {
  height: 580px;
  background: #fff url(../image/web_v3/mainspot_200703.png) 50% 100% no-repeat;
  background-size: 924px auto;
}
.main_link {
  overflow: hidden;
  padding: 32px 0 29px 41px;
  background: rgb(253,253,253);
}
.main_link li {
  float: left;
  width: 109px;
}
.main_link ul {
  overflow: hidden;
  width: 1024px;
  margin: 0 auto;
}
.main_link li a {
  display: block;
  height: 107px;
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
}
.main_link li a span {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.main_link li a p {
  height: auto;
  padding-top: 14px;
}
.main_link li a {
  display: block;
  height: 107px;
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
}
.ico_01 {
  background: url(../image/web_v3/ico_category_180801.png) -144px -72px no-repeat;
  background-size: 216px auto;
}
.ico_02 {
  background: url(../image/web_v3/ico_category_180801.png) -144px 0 no-repeat;
  background-size: 216px auto;
}

.ico_03 {
  background: url(../image/web_v3/ico_category_180801.png) -72px -144px no-repeat;
  background-size: 216px auto;
}

.ico_04 {
  background: url(../image/web_v3/ico_category_180801.png) -144px -144px no-repeat;
  background-size: 216px auto;
}

.ico_05 {
  background: url(../image/web_v3/ico_category_180801.png) 0 -72px no-repeat;
  background-size: 216px auto;
}

.ico_06 {
  background: url(../image/web_v3/ico_category_180801.png) 0 0 no-repeat;
  background-size: 216px auto;
}

.ico_07 {
  background: url(../image/web_v3/ico_category_180801.png) -72px -72px no-repeat;
  background-size: 216px auto;
}

.ico_08 {
  background: url(../image/web_v3/ico_category_180801.png) 0 -144px no-repeat;
  background-size: 216px auto;
}

.ico_09 {
  background: url(../image/web_v3/ico_category_180801.png) -72px 0 no-repeat;
  background-size: 216px auto;
}


